<!-- <input type = "submit" value="See Business Profile" [routerLink]="['/business-profile']"/>
need more information in the Position<br/>
I think this is documented on another page as well
interests<br/>
skills<br/>
experience<br/>
title<br/> -->
<div style="font-weight: 200;">
    <div style="font-weight: bold;" (click)="togglePositions()">Positions</div>
    <div *ngIf="showPositions"> 
        <div *ngFor="let position of positions">
            <ul >
                <br/>
                <li>{{position.salaryMin}}</li>
                <li>{{position.salaryMax}}</li>
                <li>{{position.location}}</li>
                <li>{{position.isRemote}}</li>
                <li>{{position.experienceRequired}}</li>
                <br/>
            </ul>

        </div>
    </div>
</div>