.term-definition-container {
    margin: 100px;
}

.term-definition-header{
    font-size: 75px;
    color: gray;
    display: inline;
    margin-right: 100px;

}

.update 
{
    color: red;
}

input {
    border-width: 0px 0px 10px 0px;
    box-shadow: rgb(177, 140, 140);
    font-size: 36px;
    height: 80px;
    width: 500px;
}

.term-definition-item {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    color: gray;
}

button {
    
    position: relative;
    width: 70px;
    height: 30px;
    right: 100px;
    background-color: rgb(107, 95, 95);
    color: white;
    border: none;
    border-radius: 15px;
}

.term-item {
    background-color: black;
}

.definition-item {
    
}