<div class="term-definition-container">
    <header class="term-definition-header">Terms</header>
    <input type="text" name="match" #match/>
    <button (click)="retrieveMatches(match.value)">Search</button>

    <label style="display: block; margin-top: 10%; font-weight: 900;">
        Add Definition
    </label>
    <fieldset>
        <input type="text" placeholder="term" name="addterm" #addterm/>
        <input type="text" placeholder="definition" name="adddef" #adddef/>
        <button (click)="addDefinition(addterm.value, adddef.value)">Add</button>
    </fieldset>
    <ul>
        <li class="term-definition-item" *ngFor="let def of definitions; index as idx"> 
            <div *ngIf="!IsActiveTerm(idx)">
                <span class="term-item" (click)="changeToUpdateMode(idx)">{{def.term}}</span>: 
                <span class="definition-item" >{{def.definition}}</span>
            </div>
            <div *ngIf="IsActiveTerm(idx)">
                <span [class.update] = "isInUpdateMode" class="term-item" (click)="changeToUpdateMode(idx)">{{def.term}}</span>: 
                <span class="definition-item"><input type="text" name="adddef" #adddef/></span>
                <button (click)="updateDefinition(def.term, adddef.value)">update</button>
            </div>
        </li>
    </ul>
</div>     

