button{
    width: 80px;
    height: 40px;
    color: rgb(215, 215, 253);
    font-size: .75em;
    font-weight: bold;
    background-color: rgb(4, 146, 4);
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 40px;
    box-shadow: 4px 4px 10px 5px gray;
    outline: none;
}