<!--
     <input type = "submit" [routerLink]="['/idiot-profile']" value="Back To Profile">
 --> 

<br/>
<div style="font-weight: 200;">
    <div style="font-weight: bold;" (click)="toggleInterests()">Interests</div>
    <div *ngIf="showInterests"> 
        <div *ngFor="let interest of userInterests">
            <ul >
                <br/>
                <li>{{interest.interest}}</li>
                <li>{{interest.description}}</li>
                <br/>
            </ul>
            <button>Delete Interest</button>
            <button>Edit Interest</button>
        </div>
        <button>Add Interest</button>
    </div>
</div>

<br/>
<br/>
<!-- <div style="font-weight: bold;" (click)="toggleDevNotes()">Show Dev Notes</div>
<div *ngIf="showDevNotes"> 
    title<br/>
    detail<br/>
    span start<br/>
    span end<br/>
    portfolio<br/>
    album<br/>
    <br/>
    <ul>
        <li>
            <h1>get: api/users/[id]/interests</h1>
            <code>
                SELECT TOP (1000) 
                a.[UserID]
               ,a.Interest
               ,a.[Description]
           FROM [Employee_Management].[dbo].[UserInterests] a
           join users b on a.UserID = b.UserID
           where b.UserID = 1
            </code> 
        </li>
        <li>
            <h1>post: api/users/[id]/interests</h1>
            <code>
                INSERT INTO [dbo].[UserInterests]
                ([UserID]
                ,[Interest]
                ,[Description])
          VALUES
                (1
                ,'interest'
                ,'description')
            </code> 
        </li>
        <li>
            <h1>put: api/users/[id]/interests</h1>
            <code>
                UPDATE [dbo].[UserInterests]
                SET [Interest] = ''
                   ,[Description] = ''
              WHERE [UserID] = 1
            </code> 
        </li>
        <li>
            <h1>delete: api/users/[id]/interests</h1>
            <code>
                DELETE FROM [dbo].[UserInterests]
                WHERE userid = 1 and interest = ''
            </code> 
        </li>
    </ul>    
</div> -->
