<input type = "submit" value="See position" [routerLink]="['/position']"/>
<br/>
<br/>
add Id to positions table<br/>has one already<br/>
also need a description<br/>
list of trainings, skills, interests, experiences<br/>
may need a separate table of interests and skills 
<br/>
<br/>
new table reqd skills<br/>
positionId<br/>
skillId(optional if want to use existing)<br/>
skill title<br/>
skill description<br/>
<br/>
<br/>
new table reqd interests<br/>
positionId<br/>
interestId(optional if want to use existing)<br/>
interest title<br/>
interest description<br/>
<br/>
<br/>
new table for Job Titles<br/>
JobTitles<br/>
Id<br/>
title<br/>
description<br/>
<br/>
<br/>
jobtitle experiencerequirements table<br/>
positionId<br/>
JobTitle Id<br/>
Experience Min<br/>
Experience Max<br/>
<br/>
<br/>