<div class="left default-padding">
    <img class="toggle-filters" 
         src="../../assets/images/filter_list_FILL0_wght400_GRAD0_opsz48.svg" 
         (click)="showFilters()" 
         class="default-padding"/>
    <div *ngIf="areFiltersVisible">
      <h3 (click)="toggleFilterByAuthor()">
        Filter ByAuthor
      </h3>
      <ul *ngIf="filterByAuthor">
        <li *ngFor="let author of authors">
          <input (change)="onAuthorChange($event)"
                 type="checkbox"  
                 value="{{author}}"/>
          <label>{{author}}</label>
        </li>
      </ul>
      <input type="checkbox"
             value="" />
      <h3>Rating</h3>
      <ul>
        <li *ngFor="let rating of ratings">
            {{rating}}
        </li>
      </ul>
      <input type="checkbox" value="" />
      <h3>Subject</h3>
      <ul>
        <li *ngFor="let subject of subjects">{{subject}}</li>
      </ul>
      <input type="checkbox" value="" />
      <h3>Level</h3>
      <ul>
        <li *ngFor="let level of levels">
          {{level}}
        </li>
      </ul>
      <label>Beginner</label>
      <input type="checkbox" value="" />
      <label>Intermediate</label>
      <input type="checkbox" value="" />
      <label>Advanced</label>
      <input type="checkbox" value="Advanced" />
    </div>
    <input class="default-padding"
           id="search-article-input" 
           placeholder="search articles"
           class="input"/>
    <ul class="article-sidebar"
        *ngFor="let article of articles">
        <li (click)="setId(article.id)" 
            class="default-padding side-bar-list-item">
          <!--<img *ngIf="displayDelete" 
               style="display: inline-block;" 
               (click)="deleteArticle(article.id)" 
               src="../../assets/images/delete_black_24dp.svg" 
               class="default-padding"/> -->
          <img *ngIf="!dropdownActive || activeHamburger!=article.id"
               (click)="toggleArticleItemDropdown(article.id)"
               src="../../assets/images/hamburger.svg"/>
          <a class="article-link default-padding default-link"
             [routerLink]="['/articles', article.id]">{{article.title}}
          </a>
          <app-article-scroll-item-dropdown *ngIf="dropdownActive && activeHamburger==article.id"
                                            (mouseleave)="toggleArticleItemDropdown(article.id)"
                                            style="display: inline-block;"
                                            class="default-padding"
                                            id="article-dropdown">
          </app-article-scroll-item-dropdown>
      </li>
    </ul>
</div>

