.side-bar-list-item {
    margin-bottom: 20px;
    color: #535252;
    padding: 10px;
    
}

.article-link {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.side-bar-list-item:hover {
    background-color: #e6dddd;
    color: whitesmoke;
    cursor: pointer;
}

.side-bar-list-item:active {
    text-decoration: none;
    background-color: #ddafaf;
    color: whitesmoke;
}

.input {
    width: 40%;
    border: none;
    border-bottom: 2px solid #6b4040;
    padding: 20px;
    background-color: rgb(236, 236, 236);
}

article {
    line-height: 1.5em;
}

ul {
    margin-top:20px;
}

#search-article-input
{
    margin: 1%;
}

.article-sidebar {
/*  overflow: scroll;*/
}

.default-padding{
    padding: 6%;
}

.toggle-filters {
    width: 5px;
    height: 5px;
    margin-top: 10%;
}

#article-dropdown{
    color:#535252;
    background: #e6dddd;
}