<!-- <input type = "submit" [routerLink]="['/idiot-profile']"> Back To Profile

list of Trainings<br/>
    name<br/>
    detail<br/>
    rating<br/>
    level<br/>
    subject<br/>
    time to finish<br/>
    <br/>
    <br/>
    new table<br/>
    Completed Trainings<br/>
    <br/>
    select * from

    userid<br/>
    trainingId<br/>
    <br/>
    join trainings
 -->
 <div style="font-weight: 200;">
    <div style="font-weight: bold;" (click)="toggleTrainings()">Completed Trainings</div>
    <div *ngIf="showCompletedTrainings"> 
        <div *ngFor="let training of completedTrainings">
            <ul >
                <br/>
                <li>{{training.trainingName}}</li>
                <li>{{training.trainingDescription}}</li>
                <br/>
            </ul>

        </div>
    </div>
</div>