<div id="register" *ngIf="!isLoggedIn">
    <div *ngIf="loginPressed">
        <form class="default-form" [formGroup]="LoginForm">
            <input 
              class="default-form-input"
              formControlName="userName" 
              type="text" 
              placeholder="User">
            <input 
              class="default-form-input" 
              formControlName="password" 
              type="password" 
              placeholder="password">
            <button
              class= "default-button" 
              type="submit" 
              (click)="onSubmit()">
              Login
            </button>
        </form>

        <!-- <button (click)="login()" [routerLink]="['/dashboard']">Enter!</button> -->
    </div>
    <button class= "default-button" (click)="showLogin()" *ngIf="loginButtonVisible">Login</button>
    <a [routerLink]="['/register']">Register!</a>
</div>