<input type = "submit" [routerLink]="['/idiot-profile']"> Back To Profile<br/>
<br/>
title<br/>
detail<br/>
span start<br/>
span end<br/>
album<br/>
<br/>
<br/>
<h1>New Tables</h1>
<ul>
    <li>
        <h2>
            PortfolioItems
        </h2>
        <ul>
            <li>Id</li>
            <li>userId</li>
            <li>title</li>
            <li>detail</li>
            <li>spanstart</li>
            <li>spanend</li>
        </ul>
    </li>
    <li>
        <h2>
            AlbumItems
        </h2>
        <ul>
            <li>Id</li>
            <li>PortfolioId</li>
            <li>photoPath</li>
        </ul>
    </li>
</ul>