<ul
*ngFor="let article of articles">
    <li>
        {{article.title}}
    </li>
</ul>

<ul *ngFor="let training of trainings">
    <li>{{training.trainingName}}</li>
    <li>{{training.trainingDescription}}</li>
</ul>