position profile form<br/>
<br/>
interests<br/>
skills<br/>
experiences<br/>
Trainings<br/>
portfolio keywords<br/>


get<br/>https://localhost:44386/api/positions<br/>
edit<br/>https://localhost:44386/api/positions - position object<br/>
post<br/>https://localhost:44386/api/positions - position object<br/>
delete<br/>https://localhost:44386/api/positions/delete/Id<br/>






