form {
    width: 50%;
    position: relative;
    top: 20%;
    left: 30%;
    box-shadow: 2px 2px 3px 3px gray;
    padding: 2%;
    padding-left: 9%;
    border-radius: 20px;
    background-color: rgb(48, 44, 44);
}