<form [formGroup]='signupForm'>
    <app-def-text-input 
        [fControl]="signupForm.controls.accountId"
        [labelText]="accountIdLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.userType"
        [labelText]="userTypeLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.userName"
        [labelText]="userNameLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.passwordString"
        [labelText]="passwordStringLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.salt"
        [labelText]="saltLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.userEmailAddress"
        [labelText]="userEmailAddressLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.userFirstName"
        [labelText]="userFirstNameLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.userLastName"
        [labelText]="userLastNameLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="signupForm.controls.userPhoneNumber"
        [labelText]="userPhoneNumberLabel">
    </app-def-text-input>
    <app-def-button 
        [buttonText]="buttonText"
        (click)="AddUser()">
    </app-def-button> 
</form>
