<h1>Idiot List</h1>
<ul>
    <li *ngFor="let user of users">
        <input style="display: inline;" type = "submit" value='{{user.userFirstName}}' [routerLink]="['/idiot-profile']"/> <br/>
        <a [routerLink]="['/call']" style="display: inline;">
            <img style="display: inline;" src="../assets/images/phone_in_talk_FILL0_wght400_GRAD0_opsz48.svg"/>
        </a>
    </li>
</ul>