<!-- 
    <input type = "submit" [routerLink]="['/idiot-profile']" value="Back To Profile"> 
-->

<br/>
<div style="font-weight: 200;">
    <div style="font-weight: bold;" (click)="toggleSkills()">Skills</div>
    <div *ngIf="showSkills"> 
        <div *ngFor="let skill of userSkills">
            <ul >
                <br/>
                <li>{{skill.skill}}</li>
                <li>{{skill.description}}</li>
                <br/>
            </ul>
            <button>Delete Skill</button>
            <button>Edit Skill</button>
        </div>
        <button>Add Skill</button>
    </div>
</div>
<!-- 
sub profile<br/>

title<br/>
detail<br/>
span start<br/>
span end<br/>
portfolio<br/>
album<br/>
<br/>
<ul>
    <li>
        <h1>get: api/users/[id]/skills</h1>
        <code>
            SELECT TOP (1000) 
            a.[UserID]
           ,a.Skill
           ,a.[Description]
       FROM [Employee_Management].[dbo].[UserSkills] a
       join users b on a.UserID = b.UserID
       where b.UserID = 1
        </code> 
    </li>
    <li>
        <h1>post: api/users/[id]/skills</h1>
        <code>
            INSERT INTO [dbo].[UserSkills]
            ([UserID]
            ,[Skill]
            ,[Description])
      VALUES
            (1
            ,'skill'
            ,'description')
        </code> 
    </li>
    <li>
        <h1>put: api/users/[id]/skills</h1>
        <code>
            UPDATE [dbo].[UserSkills]
            SET [Skill] = ''
               ,[Description] = ''
          WHERE [UserID] = 1
        </code> 
    </li>
    <li>
        <h1>delete: api/users/[id]/skills</h1>
        <code>
            DELETE FROM [dbo].[UserSkills]
            WHERE userid = 1 and skill = ''
        </code> 
    </li>
</ul>
 -->
