<!--<app-header></app-header>-->
<div class="default-spacing main">
    <!--<img 
        (click)="toggleEdit()" 
        src="../../assets/images/edit-24px.svg"/> -->
    <app-article-scroll
        *ngIf="displayLeftColumn"
         class="left" 
         (setId)='getId($event)'>
    </app-article-scroll>
    <img 
        (click)="toggleDisplayLeft()" 
        src="../../assets/images/keyboard_arrow_right.svg"/>
    <app-article 
        class="right" 
        *ngIf="!articleEdit">
    </app-article>  
    <app-article-form 
        class="article-form right"
        *ngIf="articleEdit">
    </app-article-form>
    <img 
        (click)="toggleDisplayRight()"
        class="far-right-arrow"
        src="../../assets/images/keyboard_arrow_left.svg"/>  
    <app-article-scroll
         *ngIf="displayRightColumn"
         class="far-left" 
         (setId)='getId($event)'>
    </app-article-scroll>
</div>




















