html, body, .main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    position: relative;
    top: 15%;
    z-index: 1;
}

.left {
    vertical-align: top;
    width: 15%;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 4px 4px 30px 5px #707070;
    z-index: 1;
}

.right {
    vertical-align: top;
    height: 100%;
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    padding: 80px 0px 0px 15%;
    margin: auto;
}

.far-left{
    vertical-align: top;
    width: 15%;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 4px 4px 30px 5px #707070;
    z-index: 1;
}
.far-right-arrow{
    position: absolute;
    right: 0;
}

.default-spacing {
   /* padding: 1%;*/
}

app-header {
    position: fixed;
    top: 0;
    z-index: 5;
}

.article-form {
    width: 50%;
}

app-article-form {
    margin: auto;
}