
<div class="right" *ngIf="currentArticle">
    <div *ngIf="!this.isInEditMode">
    <h5>Rating</h5>
    By {{currentArticle}}
    <img style="display: inline-block;" (click)="this.toggleEditMode()" *ngIf="!this.isInEditMode" src="../../assets/images/delete_black_24dp.svg" />      
    <img style="display: inline-block;" (click)="this.toggleEditMode()" *ngIf="!this.isInEditMode" src="../../assets/images/edit-24px.svg" />
    <h3 class="subheading">Rating: {{currentArticle.rating}}</h3>
    <img style="display: inline-block;" (click)="this.toggleEditMode()" *ngIf="!this.isInEditMode" src="../../assets/images/star_rate_black_24dp (1).svg" />
    <img style="display: inline-block;" (click)="this.toggleEditMode()" *ngIf="!this.isInEditMode" src="../../assets/images/star_rate_black_24dp (1).svg" />
    <img style="display: inline-block;" (click)="this.toggleEditMode()" *ngIf="!this.isInEditMode" src="../../assets/images/star_rate_black_24dp (1).svg" />
    <img style="display: inline-block;" (click)="this.toggleEditMode()" *ngIf="!this.isInEditMode" src="../../assets/images/star_rate_black_24dp (1).svg" />
    <img style="display: inline-block;" (click)="this.toggleEditMode()" *ngIf="!this.isInEditMode" src="../../assets/images/star_rate_black_24dp (1).svg" />
    <h3 class="subheading">Author: {{currentArticle.author}}</h3>
    <h3 class="subheading">Level: {{currentArticle.level}}</h3>
    <h3 class="subheading">Subject: {{currentArticle.subject}}</h3>
    <h1 class="heading">{{currentArticle.title}}</h1>
    <h3 class="subheading">{{currentArticle.description}}</h3>
    <article>{{currentArticle.content}}</article>
    </div>

<div *ngIf="this.isInEditMode">
    <label>Title</label>
    <input class="heading" type="text" name="title" value={{currentArticle.title}} #title/>
    <label>Description</label>
    <input class="subheading" type="text" name="description" value={{currentArticle.description}} #description/>
    <label>Content</label>
    <article><input style="width: 500px; height: 1000px; word-wrap: break-word;" type="text" name="content" value={{currentArticle.content}} #content/></article>
    <label>Level</label>
    <input style="width: 500px; height: 1000px; word-wrap: break-word;" type="text" name="level" value={{currentArticle.level}} #level/>
    <label>Subject</label>
    <input style="width: 500px; height: 1000px; word-wrap: break-word;" type="text" name="subject" value={{currentArticle.subject}} #subject/>
    <label>Rating</label>
    <input style="width: 500px; height: 1000px; word-wrap: break-word;" type="text" name="rating" value={{currentArticle.rating}} #rating/>
    <label>Author</label>
    <input style="width: 500px; height: 1000px; word-wrap: break-word;" type="text" name="author" value={{currentArticle.author}} #author/>
    <button (click)="editArticle(title.value, description.value, content.value, level.value, subject.value, rating.value, author.value)">Update</button>
</div>
 
</div>
