.heading{
    color: rgb(77, 77, 77);
    font-size: 36px;
    font-weight: 700;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 20px;
    text-align: center;

}

.subheading {
    color: rgb(77, 77, 77);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 20px;
    text-align: center;
}
article {
    line-height: 1.5em;
}

article p {
    margin: 4%;
}