<div class="employees-container">
    <h1>View All Employees</h1>
    <h2>Sort By</h2>
    <select>
        <option value="A-Z">A-Z</option>
        <option value="Company Hierarchy">Company Hierarchy</option>
    </select>
    <h2>Filter By</h2>
    <select>
        <option value="name">Name Matching</option>
        <option value="position">Position</option>
        <option value="skill">Skill</option>
        <option value="training">Training</option>
        <option value="hired">Hired</option>
    </select>
    
    <ul>
        <li class="user_info" *ngFor="let employee of employees">
          <a [routerLink]="['/employee', employee.userId]">
            <p class="user-item">{{employee.userName}}</p>
            <p class="user-item">{{employee.userFirstName}} {{employee.userLastName}}</p>
            <p class="user-item">{{employee.userPhoneNumber}}</p>
            <p class="user-item">{{employee.userEmailAddress}}</p>
          </a>
            
        </li>
    </ul>
</div>
