
.employees-container {
    position: relative;
    top: 12px;
    left: 12px;
}

.employees-name {
    font-weight: 500;
}

.user_info{
    margin: 5%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 900;

}

.user-item {
    margin-bottom: 1%;
}