<input type = "submit" value="Call Idiot" [routerLink]="['/call']"/>
<input type = "submit" value="Add Position" [routerLink]="['/add-position']"/>
<input type = "submit" value="Back To Business" [routerLink]="['/business-profile']"/>
<input type = "submit" value="View Profile" [routerLink]="['/idiot-profile']"/>


get all employees with their manager<br/>
generate tree<br/>
need to add a managerId field in users table to map useres to a manager<br/> 