
html, body {
    height: 100%;
}

.employee-container {
    background-color: rgb(251, 254, 255);
}

.employee-name {
    font-weight: 500;
    font-size: 25px;;
    color: rgb(6, 78, 42);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.standard-button {
    color: #bbe8f1;
    padding: 14px;
    border-radius: 5px;
    background: #28c382;
    border: none;
}

.standard-button:hover {
    border-radius: 0px;
}

 .row {
//     display: block;
//     min-height: 200px;
//     margin: 20px;
//     border: 2px solid rgb(123, 123, 221);
//     padding: 15px;
}

.column {
    display: inline-block;
    width: 50%;
}

.column-header {
    font-weight: 500;
    color:#062429;
    margin-bottom: 15px;
    background: #d9edf1;
    padding: 15px;
}

.list-item {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.training-name {
    display: inline-block;
    text-align: left;
    width: 45%;
    font-weight: bold;
}

.training-status {
    display: inline-block;
    width: 45%;
    color: green;
}

.info-section {
    margin: 20px;
    width: 40%;
    height: 200px;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3px gray;

}

.edit {
    float: right;
    position: relative;
    right: 75%;
    bottom: 5px;
}

