<app-general></app-general>
<div class="employee-container">
    <form *ngIf="editMode" [formGroup]='articleForm'>
        <app-def-text-input 
            [fControl]="articleForm.controls.title"
            [labelText]="titleLabel">
        </app-def-text-input>
        <app-def-text-input 
            [fControl]="articleForm.controls.description"
            [labelText]="descriptionLabel">
        </app-def-text-input>
        <app-def-text-input 
            [fControl]="articleForm.controls.content"
            [labelText]="contentLabel">
        </app-def-text-input>
        <app-def-button 
            [buttonText]="buttonText"
            (click)="addEmployment()">
        </app-def-button> 
    </form>
        <div *ngIf="!editMode" class="info-section employment-history column">
                <h3 class="column-header">Employment
                    <img (click)="toggleEditMode()" class="edit" src="../../assets/images/edit-24px.svg"/>
                </h3>
                <ul>
                    <li *ngFor="let experience of experiences" class="list-item">
                        <div>{{experience.workTitle}}</div>
                        <div>{{experience.workDescription}}</div>
                        <div>{{experience.workStartDate}}</div>
                        <div>{{experience.workEndDate}}</div>
                    </li>
                </ul>
            <!-- <button class="standard-button" (click)="addEmployment()">Add Employment</button> -->
        </div>
        <div *ngIf="!editMode" class="info-section portfolio column">
            
            <h3 class="column-header">Portfolio Items
                <img (click)="toggleEditMode()" class="edit" src="../../assets/images/edit-24px.svg"/>
            </h3>
            <ul>
                <li class="list-item"></li>
            </ul>
        </div>
    <div *ngIf="!editMode" class="info-section trainings column">
        <h3 class="column-header">Trainings
            <img (click)="toggleEditMode()" class="edit" src="../../assets/images/edit-24px.svg"/>
        </h3>
        <ul *ngFor="let training of userTrainings">
            <li class="list-item">
                <div class="training-name">{{training.trainingName}}</div>
                <div class="training-status">{{training.trainingStatus}}</div>
            </li>
        </ul>
    </div>
    <div *ngIf="!editMode" class="info-section skills-interests column">
        <h3 class="column-header">Interests
            <img (click)="toggleEditMode()" class="edit" src="../../assets/images/edit-24px.svg" />
        </h3>
        <ul>
            <li class="list-item"></li>
        </ul>
    </div>
    <div *ngIf="!editMode" class="info-section project-log column">
        <h3 class="column-header">Projects
            <img (click)="toggleEditMode()" class="edit" src="../../assets/images/edit-24px.svg"/>
        </h3>
        <ul>
            <li class="list-item"></li>
        </ul>
    </div>
    <div *ngIf="!editMode" class="info-section skills-interests column">
        <h3 class="column-header">Skills
            <img (click)="toggleEditMode()" class="edit" src="../../assets/images/edit-24px.svg"/>
        </h3>
        <ul>
            <li class="list-item"></li>
        </ul>
    </div>
</div>