<div id="header">
    <div class="logodiv" style="padding: 8px; margin-top: 10%; margin-left: 20%;">
        <a id ="logolink" href="index.html" 
                          style="padding: 6px;
                                 text-decoration: none;">
            <span style="color: black; 
                         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                         font-size: 50px;"
                         >
                         IdiotQ
            </span>
            <span style="font-style: italic; font-weight: 900; font-size: 15px; color: gray;">For Idiots By Idiots</span>
        </a>
    </div>
    <div class="regdiv">
        <app-register-button *ngIf="!isLoggedIn" class="center full regtext"></app-register-button>
        <p class="default-link" *ngIf="isLoggedIn">Logout</p>
    </div>
    <div class="regdiv">
        <a class="default-link" [routerLink]="['/blog']">Blog</a>
    </div>
    <div class="regdiv">
        <a class="default-link" [routerLink]="['/trainings']">Trainings</a>
    </div>

    <!--    
    <div class="regdiv">
        <a class="default-link" [routerLink]="['/pricing']">Pricing</a>
     </div>
    -->
    
     <div class="regdiv">
        <a class="default-link" [routerLink]="['/articles']">Articles</a>
    </div>
    <div class="regdiv" *ngIf="auth.isloggedIn">
        <p style="float:right; font-size: .7rem">Welcome {{auth.user.userName}}!</p>
    </div>
</div>