img {
  max-width: 100%;
  max-height: 100%;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 30%;
  z-index: 3;
  background-color: white;
  opacity: 1;
}

#logolink, #logolink > img {
    height: 100%;
}

.logodiv {
    padding: 0;
}

.regdiv {
    padding: 10px;
}