<div class="employee-container">
        <div class="info-section employment-history column">
            <h3 class="column-header">Employment
                <img class="edit" src="../../assets/images/edit-24px.svg"/>
            </h3>
            <ul>
                <li *ngFor="let experience of experiences" class="list-item">
                    <div>{{experience.workTitle}}</div>
                    <div>{{experience.workDescription}}</div>
                    <div>{{experience.workStartDate}}</div>
                    <div>{{experience.workEndDate}}</div>
                </li>
            </ul>
            <!-- <button class="standard-button" (click)="addEmployment()">Add Employment</button> -->
        </div>
        <div class="info-section portfolio column">
            <h3 class="column-header">Portfolio Items
                <img class="edit" src="../../assets/images/edit-24px.svg"/>
            </h3>
            <ul>
                <li class="list-item"></li>
            </ul>
        </div>
    <div class="info-section trainings column">
        <h3 class="column-header">Trainings
            <img class="edit" src="../../assets/images/edit-24px.svg"/>
        </h3>
        <ul *ngFor="let training of userTrainings">
            <li class="list-item">
                <div class="training-name">{{training.trainingName}}</div>
                <div class="training-status">{{training.trainingStatus}}</div>
            </li>
        </ul>
    </div>
    <div class="info-section skills-interests column">
        <h3 class="column-header">Interests
            <img class="edit" src="../../assets/images/edit-24px.svg" />
        </h3>
        <ul>
            <li class="list-item"></li>
        </ul>
    </div>
    <div class="info-section project-log column">
        <h3 class="column-header">Projects
            <img class="edit" src="../../assets/images/edit-24px.svg"/>
        </h3>
        <ul>
            <li class="list-item"></li>
        </ul>
    </div>
    <div class="info-section skills-interests column">
        <h3 class="column-header">Skills
            <img class="edit" src="../../assets/images/edit-24px.svg"/>
        </h3>
        <ul>
            <li class="list-item"></li>
        </ul>
    </div>
</div>