<form [formGroup]='articleForm'>
    <app-def-text-input 
        [fControl]="articleForm.controls.title"
        [labelText]="titleLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="articleForm.controls.description"
        [labelText]="descriptionLabel">
    </app-def-text-input>
    <app-def-text-input 
        [fControl]="articleForm.controls.content"
        [labelText]="contentLabel">
    </app-def-text-input>
    <app-def-text-input 
    [fControl]="articleForm.controls.rating"
    [labelText]="ratingLabel">
    </app-def-text-input>
    <app-def-text-input 
    [fControl]="articleForm.controls.level"
    [labelText]="levelLabel">
    </app-def-text-input>
    <app-def-text-input 
    [fControl]="articleForm.controls.subject"
    [labelText]="subjectLabel">
    </app-def-text-input>
    <app-def-text-input 
    [fControl]="articleForm.controls.subject"
    [labelText]="authorLabel">
    </app-def-text-input>
    <app-def-button 
        [buttonText]="buttonText"
        (click)="submitArticle()">
    </app-def-button> 
</form>