.links-container {
    box-sizing: border-box;
    width: 100%;
    height: 12%;
    box-shadow: 4px 4px 30px 5px #bebebe;
}

.links {
    max-width: 25%;
    height: 40%;
    position: relative;
    left: 75%;
}

.link {
    display: inline-block;
    margin: 40px;
}

.job-link{

}

.chat-link {

}

.people-link{

}

.user-profile {
    margin: 10%;
    color: rgba(0, 0, 0, 0.9);
    font-size: 2em;
    font-weight: 500;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}