<div class="links-container">
    <div class="links">
        <div class="chat-link link" [routerLink]="['/trainings']">
            <img src="../../assets/images/message-24px.svg" class="chat-link-img"/>
        </div>
        <div class="job-link link" [routerLink]="['/trainings']">
            <img src="../../assets/images/work-24px.svg" class="job-link-img"/>
        </div>
        <div class="people-link link" [routerLink]="['/trainings']">
            <img src="../../assets/images/people-24px.svg" class="people-link-img"/>
        </div>
        <div class="learn-link link" [routerLink]="['/trainings']">
            <img src="../../assets/images/lightbulb-24px.svg" class="people-link-img"/>
        </div>
    </div>
</div>

<!-- <app-employee [userTrainings]="trainings"></app-employee> -->
