.input-container{
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
    width: 200px;
    height: 40px;
    display: inline-block;
    background-color: rgb(247, 245, 245);
    box-shadow: 2px 2px 3px 1px gray;
}

.input-field {
    background-color: rgb(247, 245, 245);
    font-size: 15px;
    border: none;
    outline: none;
}

label {
    font-weight: 100;
}