
<!-- <input type = "submit" [routerLink]="['/interests']"> Interests<br/> -->
<app-interests></app-interests>
<!-- <input type = "submit" [routerLink]="['/skills']"> Skills<br/> -->
<app-skills></app-skills>
<input type = "submit" [routerLink]="['/experience']"> Experience<br/>
<input type = "submit" [routerLink]="['/portfolio']"> Portfolio<br/>
<!-- <input type = "submit" [routerLink]="['/authored-trainings']"> Trainings Authored<br/> -->
<app-authored-trainings></app-authored-trainings>
<!-- <input type = "submit" [routerLink]="['/completed-trainings']"> Trainings Completed<br/> -->
<app-completed-trainings></app-completed-trainings>
<input type = "submit" [routerLink]="['/browse-trainings']"> Browse Trainings<br/>
<!-- <input type = "submit" [routerLink]="['/find-position']"> Find Position<br/> -->
<app-position></app-position>
<input type = "submit" [routerLink]="['/find-idiot']"> Find Idiot<br/>
<input type = "submit" value="Call Idiot" [routerLink]="['/call']"/> <br/>
<br/>
Personal Profile<br/>
calling functionality<br/>





