.trainings {
    border: 1px solid purple;
}

.trainings-wrapper {
    margin: 10px;
    padding: 10px;
}

.training {
    padding: 10px;
}

.training-item { 
    display: inline-block;
    margin: 10px;
    color: white;
    background: plum;
    padding: 10px;
}

.description {
    display: block;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: .75em;
}