<app-header></app-header>
<div class="trainings-wrapper">
    <ul class = "trainings" *ngFor="let training of importedtrainings">
        <li class="training">
          <a class="default-link" [routerLink]="['/training', training.trainingID]">
            <ul>
                <li class="training-item">{{training.trainingName}}</li>
                <li class="description">{{training.trainingDescription}}</li>
            </ul>
          </a>
        </li>
    </ul>
</div>