<!-- <input type = "submit" [routerLink]="['/idiot-profile']"> Back To Profile

list of Trainings<br/>
    name<br/>
    detail<br/>
    rating<br/>
    level<br/>
    subject<br/>
    time to finish<br/>

    <br/>
    get: https://localhost:44386/api/articles/FilteredArticles,
    {{ '{' }} "Authors": ["Tzvi Seliger"] {{ '}' }}
    <br/>
 -->
 <div style="font-weight: 200;">
    <div style="font-weight: bold;" (click)="toggleTrainings()">Authored Trainings</div>
    <div *ngIf="showAuthoredTrainings"> 
        <div *ngFor="let training of authoredTrainings">
            <ul >
                <br/>
                <li>{{training.trainingName}}</li>
                <li>{{training.trainingDescription}}</li>
                <br/>
            </ul>

        </div>
    </div>
</div>