<input type = "submit" value="Back to Idiot" [routerLink]="['/idiot-profile']"/>
<br/>
<br/>
black screen and counter for call time<br/>
if video call will be a full screen video<br/>
try twilio for video/call/chat integration

