<input type = "submit" value="See billing" [routerLink]="['/billing']"/>
<input type = "submit" value="see hierarchy" [routerLink]="['/hierarchy']"/>
<input type = "submit" value="create training" [routerLink]="['/create-training']"/>
<input type = "submit" value="add position" [routerLink]="['/add-position']"/>
<input type = "submit" value="find idiot" [routerLink]="['/find-idiot']"/>