<app-header></app-header>
<div class="trainings-wrapper">
    <ul>
        <li class="training-item">{{current.trainingName}}</li>
        <li class="description">{{current.trainingDescription}}</li>
    </ul>
    <ul *ngFor="let file of files">
        <ul>
            <li>{{file.trainingFileID}}</li>
            <li>{{file.trainingFileOrderNo}}</li>
            <li>{{file.trainingFilePath}}</li>
            <li>{{file.trainingFileDescription}}</li>
        </ul>
    </ul>
</div>

<div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
    </div>
    <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div>
  
<div class="row">
  <div class="offset-md-5 col-md-2">
    <button type="button" class="btn btn-primary" (click)="onCreate()">Create </button>
  </div>
</div>