
html, body, app-root{
    width: 100%;
    height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.default-form-input{
    background: purple;
    color: rgb(234, 137, 253);
    border-radius: 5px;
    border: none;
    padding: 8px;
    box-shadow: 5px 5px 5px rgb(139, 123, 139);
    margin: 5px;
}

.default-button{
    background: purple;
    color: rgb(234, 137, 253);
    border-radius: 5px;
    border: none;
    padding: 8px;
    box-shadow: 5px 5px 5px rgb(139, 123, 139);
    margin: 5px;
}

.default-form {
    background: rgb(235, 218, 255);
    padding: 6px;
}

.default-link{
    // text-shadow: 2px 2px 2px rgb(1, 2, 10);
    opacity: .7;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1{
    font-weight: bold;
    font-size: 36px;
}

h2{
    font-weight: 500;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

