<input type = "submit" [routerLink]="['/idiot-profile']"> Back To Profile

title<br/>
detail<br/>
span start<br/>
span end<br/>
portfolio<br/>
album<br/>

<br/>
<h1 style="font-weight: bold">
    get api/experience/user   
</h1>
get api/experience/user/1
<br/>
SELECT TOP (1000) [Id]
      ,[AccountID]
      ,[UserId]
      ,[WorkTitle]
      ,[WorkDescription]
      ,[WorkStartDate]
      ,[WorkEndDate]
  FROM [Employee_Management].[dbo].[UserWorkExperiences]
  where userId = 2
  <br/>
  <br/>


  put api/experience/user/1
  <br/>
  USE [Employee_Management]
GO

INSERT INTO [dbo].[UserWorkExperiences]
           ([AccountID]
           ,[UserId]
           ,[WorkTitle]
           ,[WorkDescription]
           ,[WorkStartDate]
           ,[WorkEndDate])
     VALUES
           (1
           ,2
           ,'worktitle'
           ,'WorkDescription'
           ,'1978-12-20'
           ,'1980-12-20')
GO
<br/>
<br/>


patch api/experience/user/1
<br/>
USE [Employee_Management]
GO

UPDATE [dbo].[UserWorkExperiences]
   SET [WorkDescription] = 'updated work description'
 WHERE  [UserId] = 2
        AND [WorkTitle] = 'WorkTitle'
		AND [AccountID] = 1
GO
<br/>
<br/>


delete api/experience/user/1
<br/>
USE [Employee_Management]
GO

DELETE FROM [dbo].[UserWorkExperiences]
       WHERE  [UserId] = 2
        AND [WorkTitle] = 'WorkTitle'
		AND [AccountID] = 1
GO
<br/>
<br/>




